In [1]:
import pandas as pd

variable = pd.read_csv('budget_data.csv')
variable.head()

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993

In [52]:
rows = len(variable.axes[0])

print("Number of Months: " + str(rows))

Number of Months: 86

In [53]:
i = str(variable["Profit/Losses"].sum())

In [58]:

print("Total:",'$' + i)

Total: $22564198

In [50]:
 e =str(variable["Profit/Losses"].diff().mean())

In [59]:
print("Average change:",'$' + e)

Average change: $-8311.105882352942

In [46]:
b= str(variable["Profit/Losses"].diff().max())

In [60]:
print("Greatest increase in profits:",'$' + b)

Greatest increase in profits: $1862002.0

In [43]:
a = str(variable["Profit/Losses"].diff().min()

In [61]:
print("Greatest decrease in profits:",'$' + a)

Greatest decrease in profits: $-1825558.0