In [5]:
import pandas as pd

variable = pd.read_csv('election_data.csv')
variable.head()

   Ballot ID     County                Candidate
0    1323913  Jefferson  Charles Casper Stockham
1    1005842  Jefferson  Charles Casper Stockham
2    1880345  Jefferson  Charles Casper Stockham
3    1600337  Jefferson  Charles Casper Stockham
4    1835994  Jefferson  Charles Casper Stockham

In [7]:
rows = len(variable.axes[0])

print("Total votes: " + str(rows))

Total votes: 369711